<!DOCTYPE html>
<html>
    <head>
    <title>GRACIAS</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script>
        function redireccionar() {
            setTimeout('location.href="http://localhost:3000/"', 5000);
        }
    </script>
    </head>
    <body onload="redireccionar()">
        <h1 class="text-center">MUCHAS GRACIAS!</h1>
    </body>
</html>