<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="/ofertas" class="btn btn-primary" role="button">OFERTAS!</a>
        </div>
    </div>
  </body>
</html>
